@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#calendar {
  font-family: "Muli", sans-serif;
  cursor: default;
}

#calendar .upcoming-txt {
  position: relative;
  width: 29%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

#calendar .upcoming-txt h1 {
  position: absolute;
  text-align: center;
  background-color: white;
  color: #2a4359;
  top: 100px;
  font-weight: 100;
  letter-spacing: 14px;
}

#calendar .texts-cl {
  margin-left: -20px;
}

#calendar .small-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#calendar .calendar-container {
  background-image: url(../images/calendar-bg.png);
  position: relative;
  height: 100vh;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 200px;
  margin-left: 20px;
  color: white;
}

#calendar .calendar-container .cal-date {
  text-align: end;
  padding-right: 200px;
  font-family: 'Amiri', serif;
}

#calendar .calendar-container .cal-loc {
  text-align: start;
  padding-left: 200px;
  font-family: 'Amiri', serif;
}

#calendar .calendar-container .vl {
  border: 1px solid white;
  height: 250px;
  position: absolute;
  margin-left: -45px;
  border-radius: 100px;
}

#calendar .calendar-container h1 {
  font-weight: 100;
  padding: 30px 0px;
}

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/about-bg.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/about-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  position: relative;
  font-family: "Muli", sans-serif;
}

#about .about-us-txt {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 20%;
  background-color: white;
  padding: 15px;
}

#about .about-us-txt h1 {
  letter-spacing: 10px;
  font-weight: 100;
  color: #523cb3;
}

#about .about-us-txts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  line-height: 70px;
}

#about .about-us-txts p {
  font-size: 30px;
  color: white;
  font-family: 'Amiri', serif;
}

#home-page {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../images/bg.png);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../images/bg.png);
  height: 100vh;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}

#home-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 30%;
  /*font-family: 'Muli',
sans-serif;
font-family: 'Montserrat',
sans-serif;*/
}

#home-page .container .nav-items {
  text-align: end;
  margin-right: 7%;
  line-height: 370%;
}

#home-page .container .nav-name {
  text-align: start;
  font-size: xx-large;
  margin-left: 7%;
}

#home-page .container .vl {
  border: 1px solid white;
  height: 250px;
  position: absolute;
  margin-left: -10px;
  border-radius: 100px;
}

#home-page .container h1 {
  color: white;
  font-family: "Muli", sans-serif;
  font-weight: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 4px;
}

#home-page .container h1:hover {
  color: black;
}

#home-page .container h2 {
  font-family: "Muli", sans-serif;
  font-weight: 100;
  width: 150px;
  letter-spacing: 5px;
  color: white;
  font-size: 60px;
  cursor: default;
}

#home-page .container a {
  text-decoration: none;
}

#home-page .container a:hover {
  color: white;
}

#home .menu a {
  text-decoration: none;
}

#home .menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  cursor: pointer;
  top: 8%;
  right: 5%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  z-index: 5;
}

#home .menu-icon img {
  height: 75px;
  width: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .menu-icon img:hover {
  height: 80px;
}

#home .nav-links {
  font-family: "Muli", sans-serif;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: white;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: circle(0px at 91% 10%);
          clip-path: circle(0px at 91% 10%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 3;
}

#home .nav-links h1 {
  color: #3b3b3b;
  font-weight: 600;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .nav-links h1:hover {
  color: black;
}

#home .nav-links ul {
  color: black;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: underline;
}

#home .nav-links ul:hover {
  color: #818181;
  font-size: 35px;
}

#home .nav-links.open {
  z-index: 4;
  -webkit-clip-path: circle(1600px at 88% 10%);
          clip-path: circle(1600px at 88% 10%);
}

#home .bg-home {
  background-color: #2a4359;
  z-index: -9999999999;
}

#home .header {
  cursor: default;
}

#home .header .over .big-text {
  font-family: "Muli", sans-serif;
  position: absolute;
  overflow-x: hidden;
  left: 30%;
  right: 0;
  top: -18%;
  font-weight: 100;
  font-size: 240px;
  color: #344e63;
  pointer-events: none;
}

#home .header .over .big-text h1 {
  font-weight: 200;
}

#home .header .small-text {
  font-family: "Muli", sans-serif;
  position: relative;
  margin-left: 27%;
  top: 50px;
  color: white;
}

#home .header .small-text h2 {
  font-size: 110px;
  font-weight: 200;
  cursor: default;
}

#home .header .star-circle {
  position: absolute;
  margin-left: -270px;
  margin-top: -370px;
}

#home .header .star-circle img {
  height: 550px;
  width: auto;
}

#home .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  margin: 0 auto;
  margin-top: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content .portrait {
  padding: 0 15px;
}

#home .content .portrait img {
  height: 430px;
  width: auto;
}

#home .content .portrait .texts {
  padding: 0 15px;
}

#home .content .texts {
  font-family: "Muli", sans-serif;
  cursor: default;
}

#home .content .texts h1 {
  font-size: 40px;
  margin-top: -100px;
  color: #ffffff;
}

#home .content .texts h2 {
  margin-left: -80px;
  margin-top: 90px;
  margin-bottom: 50px;
  font-size: 60px;
  background-color: #e4e4e4;
  width: 230px;
  letter-spacing: 10px;
  color: #2a4359;
}

#home .content .texts p {
  font-size: 20px;
  color: #ffffff;
}

#home .members {
  cursor: default;
}

#home .members .mem-big-text {
  font-family: "Muli", sans-serif;
  position: absolute;
  overflow-x: hidden;
  left: -700px;
  font-weight: 100;
  font-size: 240px;
  color: #344e63;
  pointer-events: none;
  margin-top: -200px;
}

#home .members .mem-big-text h1 {
  font-weight: 200;
}

#home .members .mem-small-text {
  font-family: "Muli", sans-serif;
  position: absolute;
  margin-left: 25%;
  color: white;
}

#home .members .mem-small-text h2 {
  font-size: 80px;
  font-weight: 200;
}

#home .members .starcircle {
  position: relative;
}

#home .members .starcircle .star-circle-mem {
  position: absolute;
  overflow-x: hidden;
  left: 75%;
  right: 0;
  top: -50px;
}

#home .members .content-mem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  margin: 0 auto;
  margin-top: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .members .content-mem .portrait-mem {
  margin-top: 10%;
  z-index: 0;
}

#home .members .content-mem .portrait-mem img {
  height: 800px;
  width: auto;
  -webkit-clip-path: inset(4% 0 27% 0);
          clip-path: inset(4% 0 27% 0);
}

#home .members .content-mem .texts-mem {
  font-family: "Muli", sans-serif;
  text-align: right;
  z-index: 1;
}

#home .members .content-mem .texts-mem .jude {
  padding: 11% 0%;
}

#home .members .content-mem .texts-mem h2 {
  text-align: center;
  font-size: 60px;
  background-color: #e4e4e4;
  margin-right: -70px;
  margin-top: -200px;
  letter-spacing: 10px;
  color: #2a4359;
  float: right;
  width: 250px;
}

#home .members .content-mem .texts-mem p {
  font-size: 27px;
  color: #ffffff;
  padding-right: 15%;
  width: 80%;
  margin-top: -90px;
  float: right;
}

#home #members-2 {
  background-color: #2a4359;
}

#home #members-2 .starcircle-2 {
  position: relative;
}

#home #members-2 .starcircle-2 .star-circle-2 {
  position: absolute;
  overflow-x: hidden;
  margin-left: -300px;
  left: 0;
  margin-top: -300px;
}

#home #members-2 .starcircle-2 .star-circle-2 img {
  width: 600px;
  height: auto;
}

#home .content-mem-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content-mem-2 .portrait-mem-2 {
  margin-top: -250px;
  z-index: 0;
  margin-left: -150px;
}

#home .content-mem-2 .portrait-mem-2 img {
  height: 800px;
  width: auto;
  -webkit-clip-path: inset(17% 22% 4% 23%);
          clip-path: inset(17% 22% 4% 23%);
}

#home .content-mem-2 .texts-mem-2 {
  font-family: "Muli", sans-serif;
  text-align: left;
  z-index: 1;
  margin-left: -400px;
  margin-top: -300px;
}

#home .content-mem-2 .texts-mem-2 .jack {
  padding: 11% 0%;
}

#home .content-mem-2 .texts-mem-2 h2 {
  text-align: center;
  font-size: 60px;
  background-color: #e4e4e4;
  margin-right: -70px;
  margin-top: -200px;
  letter-spacing: 10px;
  color: #2a4359;
  float: left;
  width: 250px;
}

#home .content-mem-2 .texts-mem-2 p {
  font-size: 27px;
  color: #ffffff;
  padding-right: 15%;
  width: 80%;
  margin-top: -90px;
  float: right;
}

#home footer {
  background-color: #292929;
  font-family: "Muli", sans-serif;
  color: white;
}

#home footer .footer-texts .footer-h1 {
  padding: 150px;
  cursor: default;
}

#home footer .footer-texts .footer-h1 a {
  padding-left: 20px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 100;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#home footer .footer-texts .footer-h1 a:hover {
  color: #929292;
}

#home footer .footer-texts p {
  text-align: center;
  margin-top: 120px;
  margin-bottom: -70px;
}
/*# sourceMappingURL=styles.css.map */